@model NiceHandles.Models.InOut
@using NiceHandles.Models;
@{
    ViewBag.Title = "Thêm mới";
    var db = new NHModel();
    var accounts = db.Accounts.Where(x => x.sta == (int)XAccount.eStatus.Processing);
    var categories = db.Categories.Where(x => x.pair == (int)XCategory.ePair.VayTra);
}

@using (Html.BeginForm("CreateCongNo", "InOuts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.account_id, "Tài khoản", new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.account_id, new SelectList(accounts, "id", "fullname"), "Người thực hiện", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.account_id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.currency, "Loại tiền", new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.currency, new SelectList(XModels.sLoaiTien, "Key", "Value"), "Loại tiền", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.currency, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.category_id, "Loại", new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.category_id, new SelectList(categories, "id", "name"), "Vay/trả", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(model => model.amount, "Số tiền", new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.HiddenFor(model => model.amount)
                    @Html.TextBox("msk_amount", "", new { @class = "form-control numberic" })
                    @*@Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", type = "number" } })*@
                    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.note, "Ghi chú", new { @class = "control-label col-md-2", @style = "width: 14%;" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.note, new { @class = "form-control", @rows = "1" })
                    @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Thêm mới" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}


