@model NiceHandles.Models.XInOut

@{
    ViewBag.Title = "Xóa";
}

<h2>Xóa</h2>

<div>
    <h4>Thu chi</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Người thực hiện
        </dt>
        <dd>
            @Html.DropDownListFor(model => model.obj.account_id, Model.account, new { @class = "form-control", disabled = "disabled" })
        </dd>
        <br />
        <dt>
            Loại
        </dt>

        <dd>
            @Html.DropDownListFor(model => model.obj.type, Model.types, new { @class = "form-control", @onchange = "FillCategory()", disabled = "disabled" })
        </dd>
        <br />
        <dt>
            Loại chi tiết
        </dt>

        <dd>
            @Html.DropDownListFor(model => model.obj.category_id, Model.categories, new { @class = "form-control", disabled = "disabled" })
        </dd>
        <br />
        <dt>
            Số tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>
        <br />
        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obj.note)
        </dd>

    </dl>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |

            @if (Model.obj.contract_id.HasValue)
            {
                @Html.ActionLink("Về danh sách", "Details", "Contracts", new { id = Model.obj.contract_id }, null)
            }
            else
            {
                @Html.ActionLink("Về danh sách", "Index")
            }

        </div>
    }
</div>
