@model IEnumerable<NiceHandles.Models.chotso>
@using NiceHandles.Models
@{
    ViewBag.Title = "Index";
    var db = ViewBag.db as NiceHandles.Models.NHModel;
}

<h2>Chốt sổ</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ngày chốt
        </th>

        <th>
            Thu
        </th>
        <th>
            Chi
        </th>
        <th>
            Tồn
        </th>

        <th>
            Chênh lệch
        </th>
        <th>
            ADuy nợ
        </th>
        <th>
            Giang nợ
        </th>
        <th>
            Tín nợ
        </th>
        <th>
            Ghi chú
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ngaythang.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.tienthu.ToString("N0")
            </td>
            <td>
                @item.tienchi.ToString("N0")
            </td>
            <td>
                @item.tiencon.ToString("N0")
            </td>
            <td>
                @item.tienchenhlech.ToString("N0")
            </td>
            <td>
                @item.noduy.ToString("N0")
            </td>
            <td>
                @item.nogiang.ToString("N0")
            </td>
            <td>
                @item.notin.ToString("N0")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ghichu)
            </td>
            <td>
                <button class="btn btn-info" onclick="Print(@item.id );">Bản in</button> |
                <button class="btn btn-info" onclick="ChiTiet(@item.id );">Chi tiết</button>
            </td>
        </tr>
    }

</table>
<iframe id="my_iframe" style="display:none;"></iframe>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

        });
        function Print(id) {
            $.ajax({
                url: '/chotsoes/BanInChotSo',
                data: { id: id },
                type: "GET",
                dataType: "JSON",
                success: function (url) {
                    document.getElementById('my_iframe').src = url;
                }
            });
        }
        function ChiTiet(id) {
            $.ajax({
                url: '/chotsoes/ChoSo',
                data: { id: id },
                type: "GET",
                dataType: "JSON",
                success: function (url) {
                    document.getElementById('my_iframe').src = url;
                }
            });
        }
    </script>
}
