@model NiceHandles.Models.CanBo
@using NiceHandles.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSetting.cshtml";
}

<h2>Thêm mới</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("str_address", "")
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Họ và tên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Tiếp nhận 1 cửa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.RadioButtonFor(model => model.motcua, (int)XModels.eYesNo.No, new { @class = "btn-check", autocomplete = "off", @checked = true, id = "no" })
                <label class="btn btn-outline-primary" for="no">Không</label>
                @Html.RadioButtonFor(model => model.motcua, (int)XModels.eYesNo.Yes, new { @class = "btn-check", autocomplete = "off", id = "yes" })
                <label class="btn btn-outline-primary" for="yes">Có</label>
                @Html.ValidationMessageFor(model => model.motcua, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display: none;">
            @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.trangthai, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.trangthai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Thứ tự", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thutu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.thutu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nơi phụ trách", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <ul style="margin: 0; padding: 0;">
                    @foreach (var item in ViewBag.lst_address)
                    {
                        <li style="list-style: none;">
                            <input style="height: 20px; width: 20px;" type="checkbox" value="@item.id" />
                            <span style="vertical-align: super;">@item.name</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Về danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var lst = [];
        $(document).ready(function () {
            $("input:checkbox").change(function () {
                var x = $(this).val();
                const index = lst.indexOf(x);
                if (this.checked) {
                    if (index == -1) {
                        lst.push(x);
                    }
                }
                else {
                    if (index > -1) {
                        lst.splice(index, 1);
                    }
                }
                $("#str_address").val(lst);
            });
        });
    </script>
}
