@model IEnumerable<NiceHandles.Models.BangChamCong>
@using NiceHandles.Models
@{
    NHModel db = (NHModel)ViewBag.db;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td, th {
        text-align: center;
        vertical-align: middle;
    }

    #mymenu {
        position: absolute;
        border: 1px solid black;
    }
</style>
<h2>@ViewBag.Title</h2>
<p>
    <button class="btn btn-default" onclick="ShowThangNam()"> Chọn tháng năm</button>
    <button class="btn btn-info" onclick="InBangLuong()"> In bảng lương</button>
    @*<button class="btn btn-danger" onclick="ChotLuong()" style="float: right;"> Chốt lương</button>*@
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Nhân viên
            </th>
            @for (int perNgay = 1; perNgay <= ViewBag.SoNgayTrongThang; perNgay++)
            {
                <th>@perNgay</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var perNV in Model.GroupBy(p => p.account_id, (key, g) => new { account_id = key, LST = g.ToList() }))
        {
            <tr data-id="@perNV.account_id">
                <td>
                    @db.Accounts.Find(perNV.account_id).fullname
                </td>

                @*@for (int i = 1; i <= ViewBag.SoNgayTrongThang; i++)
                    {
                        var cong = perNV.LST.Count(x => x.ngay == i) > 0 ? perNV.LST.Where(x => x.ngay == i).Select(x => x.cong).First() : -1;
                        <td class="chamcong" data-id="@i" style="background-color: @(cong > -1 ? XBangChamCong.sCongMau[cong] : null)">
                            @(cong > -1 ? XBangChamCong.sCongMa[cong] : null)
                        </td>
                    }*@
                @for (int i = 1; i <= ViewBag.SoNgayTrongThang; i++)
                {
                    var ngayTrongTuan = new DateTime(ViewBag.NAM, ViewBag.THANG, i).DayOfWeek;
                    var isWeekend = (ngayTrongTuan == DayOfWeek.Saturday || ngayTrongTuan == DayOfWeek.Sunday);
                    var cong = perNV.LST.Count(x => x.ngay == i) > 0 ? perNV.LST.Where(x => x.ngay == i).Select(x => x.cong).First() : -1;

                    <td class="chamcong" data-id="@i"
                        style="background-color: @(cong > -1 ? XBangChamCong.sCongMau[cong] : isWeekend ? "#FFE4E1" : null)">
                        @(cong > -1 ? XBangChamCong.sCongMa[cong] : null)
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
<div type="context" id="mymenu" style="display: none">
    <ul style="list-style: none; padding: 0; margin: 0;">
        @foreach (var item in XBangChamCong.sCong)
        {
            <li style="list-style: none; padding: 10px; background-color: @XBangChamCong.sCongMau[item.Key]"><a style=" color: white;" href="javascript:chamcong(@item.Key);">@item.Value</a></li>
        }
    </ul>
</div>
<div class="modal" tabindex="-1" role="dialog" id="BangChamCong" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">BẢNG CHẤM CÔNG</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Chọn tháng", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("cboThang", new SelectList(new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 }, DateTime.Now.Month), new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Chọn năm", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("cboNam", new SelectList(new int[] { DateTime.Now.Year - 1, DateTime.Now.Year, DateTime.Now.Year + 1 }, DateTime.Now.Year), new { @class = "form-control" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="fcGoBangChamCong()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<iframe id="my_iframe" style="display:none;"></iframe>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var currentDay;
        var nhanvien;
        var thang = @ViewBag.THANG;
        var nam = @ViewBag.NAM;
        $(document).ready(function () {
            $(".chamcong").each(function () {
                var menu = document.getElementById('mymenu');
                this.addEventListener("contextmenu", function (e) {
                    e.preventDefault();
                    menu.style.display = 'block';
                    menu.style.left = e.x + 'px';
                    menu.style.top = e.y + 'px';
                    currentDay = $(this).attr("data-id");
                    nhanvien = $(this).parent().attr("data-id");
                });
                document.addEventListener("click", function (e) {
                    menu.style.display = 'none';
                });
            });
        });
        function chamcong(cong) {
            $.ajax({
                url: '/BangChamCongs/ChamCong',
                type: "GET",
                dataType: "JSON",
                data: { cong: cong, nhanvien: nhanvien, ngay: currentDay, thang: thang, nam:nam },
                success: function (b) {
                    location.href = location.href;
                }
            });
        }
        function InBangLuong() {
            $.ajax({
                url: '/BangChamCongs/BangLuong',
                type: "GET",
                dataType: "JSON",
                data: { thang: thang, nam: nam },
                success: function (url) {
                    document.getElementById('my_iframe').src = url;
                }
            });
        }
        function ChotLuong() {
            $.ajax({
                url: '/BangChamCongs/ChotLuong',
                type: "GET",
                dataType: "JSON",
                data: { thang: thang, nam: nam },
                success: function (b) {
                    alert("Đã chốt thành công.");
                }
            });
        }
        function fcGoBangChamCong() {
            thang = $("#cboThang").val();
            nam = $("#cboNam").val();
            location.href = "/bangchamcongs/index/?thang=" + thang + "&nam=" + nam;
        }
        function ShowThangNam() {
            $(".modal").show();
        }
    </script>
}
