@model IEnumerable<NiceHandles.Controllers.xChamCong>

@{
    ViewBag.Title = "Chấm công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p style="margin-top: 10px;">
    <button class="btn btn-default" onclick="ShowThangNam()"> Chọn tháng năm</button>
    <button class="btn btn-danger fa fa-print pull-right" onclick="DSChamCong();"> In danh sách</button>
</p>
<div id="chartContainer" style="height: auto; max-width: auto; margin: 0px auto;"></div>
<div class="modal" tabindex="-1" role="dialog" id="BangChamCong" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">THỜI GIAN</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Chọn tháng", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("cboThang", new SelectList(new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 }, ViewBag.THANG), new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Chọn năm", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("cboNam", new SelectList(new int[] { DateTime.Now.Year - 1, DateTime.Now.Year, DateTime.Now.Year + 1 }, ViewBag.NAM), new { @class = "form-control" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="fcGoBangChamCong()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<iframe id="my_iframe" style="display:none;"></iframe>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script>
        window.onload = function () {
            $.ajax({
                url: '/BangChamCongs/rptChamCongGetChart',
                type: "GET",
                dataType: "JSON",
                data: {
                    thang: @ViewBag.THANG,
                    nam: @ViewBag.NAM,
                },
                success: function (jData) {
                    for (var i = 0; i < jData.length; i++) {
                        if (jData[i].dataPoints) {
                            for (var y = 0; y < jData[i].dataPoints.length; y++) {
                                var datax = jData[i].dataPoints[y].x;
                                var datay = jData[i].dataPoints[y].y;
                                if (datax) {
                                    jData[i].dataPoints[y].x = new Date(jData[i].dataPoints[y].x);
                                    //jData[i].dataPoints[y].y = new Date(datay[0], datay[1], datay[2], datay[3], datay[4], 0, 0);
                                } else {
                                    jData[i].dataPoints[y].x = new Date();
                                    //jData[i].dataPoints[y].y = new Date();
                                }
                            }
                        }
                    }

                    var options = {
                        exportEnabled: true,
                        animationEnabled: true,
                        title: {
                            text: "On Time"
                        },
                        subtitles: [{
                            text: "_"
                        }],
                        axisX: {
                            title: "",
                            valueFormatString: "DD/MM"
                        },
                        axisY: {
                            title: "Số phút muộn",
                            titleFontColor: "#4F81BC",
                            lineColor: "#4F81BC",
                            labelFontColor: "#4F81BC",
                            tickColor: "#4F81BC",
                            includeZero: true,
                            valueFormatString: "#,##0 phút"
                        },
                        //axisY2: {
                        //    title: "Profit in USD",
                        //    titleFontColor: "#C0504E",
                        //    lineColor: "#C0504E",
                        //    labelFontColor: "#C0504E",
                        //    tickColor: "#C0504E",
                        //    includeZero: false
                        //},
                        toolTip: {
                            shared: true
                        },
                        legend: {
                            cursor: "pointer",
                            itemclick: toggleDataSeries
                        },
                        data: jData
                    };
                    $("#chartContainer").CanvasJSChart(options);
                }
            });
            function toggleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                e.chart.render();
            }

        }
        function ShowThangNam() {
            $(".modal").show();
        }
        function fcGoBangChamCong() {
            thang = $("#cboThang").val();
            nam = $("#cboNam").val();
            location.href = "/bangchamcongs/rptchamcong/?thang=" + thang + "&nam=" + nam;
        }
        function DSChamCong() {
            thang = $("#cboThang").val();
            nam = $("#cboNam").val();
            $.ajax({
                url: '/BangChamCongs/DSChamCong',
                type: "GET",
                dataType: "JSON",
                data: { thang: thang, nam: nam },
                success: function (url) {
                    document.getElementById('my_iframe').src = url;
                }
            });
        }
    </script>
}
