@model PagedList.IPagedList<NiceHandles.Models.InOutChoDuyet>
@using PagedList.Mvc;
@using NiceHandles.Models
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<div style="padding: 10px; background-color: lavenderblush;">
    <h4 class="fa fa-list"> DANH SÁCH PHIẾU CHI</h4>
    @using (Html.BeginForm("Index", "InOutChoDuyets", FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-1">
                <div class="form-group">
                    @Html.TextBox("fromdate", ViewBag.FROMDATE as string, new { @class = "form-control datetime", placeholder = "Từ ngày", autocomplete = "off" })
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    @Html.TextBox("todate", ViewBag.TODATE as string, new { @class = "form-control datetime", placeholder = "Đến ngày", autocomplete = "off" })
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    @Html.TextBox("Search_Data", ViewBag.FilterValue as string, new { @class = "form-control", placeholder = "Tìm kiếm" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-info" style="height: 32px; width: 100px;"><i class="fa fa-search"></i> Tìm kiếm</button>
                </div>
            </div>
        </div>
    }
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Thời gian
                </th>
                <th>
                    Mã
                </th>
                <th>
                    Ghi chú
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                string contract_name = string.Empty;
                <tr>
                    <td>@Model[i].time.ToString("dd/MM/yyyy")</td>
                    <td>@Model[i].code</td>
                    <td>@Model[i].note</td>
                    <td>
                        <button onclick="Print(@(Model[i].id));" class="btn btn-default">Bản in</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.PageCount > 1)
    {
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-1">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
            <div class="col-sm-10">
                @Html.PagedListPager(Model, Page_No => Url.Action("Index", new { Page_No, Filter_Value = ViewBag.FilterValue, fromdate = ViewBag.FROMDATE, todate = ViewBag.TODATE }))
            </div>
        </div>
    }
    <iframe id="my_iframe" style="display:none;"></iframe>
</div>
<style>
    body {
        width: 97%;
        padding-top: 0;
        background-color: lavenderblush;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var currentDelCtr = null;
        $(document).ready(function () {
            $(".datetime").datepicker({
                "autoclose": true,
                "todayHighlight": true,
                "dateFormat": "dd/mm/yyyy",
                "format": "dd/mm/yyyy",
            }).datepicker();
        });
        function Print(id) {
            $.ajax({
                url: '/InoutChoDuyets/InOutChoDuyetPrint',
                data: {
                    id: id
                },
                type: "GET",
                dataType: "JSON",
                success: function (url) {
                    document.getElementById('my_iframe').src = url;
                }
            });
        }
    </script>
}
