@model PagedList.IPagedList<NiceHandles.Models.TreoPhuon>
@using PagedList.Mvc;
@using NiceHandles.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new NHModel();
}

<h2>Danh sách treo phướn</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
@using (Html.BeginForm("Index", "TreoPhuons", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                @Html.DropDownList("add", new SelectList(db.Addresses, "id", "name", ViewBag.ADD), "Xã, phường", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                @Html.TextBox("fromdate", ViewBag.FROMDATE as string, new { @class = "form-control datetime", placeholder = "Từ ngày", autocomplete = "off" })
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                @Html.TextBox("todate", ViewBag.TODATE as string, new { @class = "form-control datetime", placeholder = "Đến ngày", autocomplete = "off" })
            </div>
        </div>

        <div class="col-sm-1">
            <div class="form-group">
                <button type="submit" class="btn btn-danger fa fa-search" style="height: 32px; width: 100px;">Tìm kiếm</button>
            </div>
        </div>
    </div>
}
<strong style="float: right;">Tổng Số: @ViewBag.TONGSO</strong>
<table class="table">
    <tr>
        <th>
            Hình ảnh
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            GoogleMap
        </th>
        <th>
            Ngày treo
        </th>
        <th>
            Ngày kiểm tra
        </th>
        <th>
            Ghi chú
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var dvhc = db.DvhcC1.Find(item.DvhcC1_id);
        var xa = db.Addresses.Find(dvhc.address_id);
        <tr>
            <td>
                <img height="100" width="100" src="@item.Images" />
            </td>
            <td>
                @Html.Raw(dvhc.name + ", " + xa.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleMap)
            </td>
            <td>
                @item.NgayTreo.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.Raw(item.NgayKiemTra.HasValue ? item.NgayKiemTra.Value.ToString("dd/MM/yyyy") : "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
@if (Model.PageCount > 1)
{
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-1">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="col-sm-10">
            @Html.PagedListPager(Model, Page_No => Url.Action("Index", new { Page_No, Add = ViewBag.ADD, fromdate = ViewBag.FROMDATE, todate = ViewBag.TODATE }))
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".datetime").datepicker({
                "autoclose": true,
                "todayHighlight": true,
                "dateFormat": "dd/mm/yyyy",
                "format": "dd/mm/yyyy",
            }).datepicker();
        });
    </script>
}
