@model IEnumerable<NiceHandles.Models.PhuCap>
@using NiceHandles.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new NHModel();
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tài khoản
        </th>
        <th>
            Tên
        </th>
        <th>
            Số tiền
        </th>
        <th>
            Loại
        </th>
        <th>
            Thời gian
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(db.Accounts.Find(item.account_id).fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ten)
            </td>
            <td>
                @item.sotien.ToString("N0")
            </td>
            <td>
                @XModels.sLoaiPhuCap[item.loai]
            </td>
            <td>
                @item.ngaythang.ToString("dd/MM/yyyy")
            </td>
            <td>
                @XModels.sStatus[item.trangthai]
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
