@model NiceHandles.ViewModels.InfomationEditViewModel
@using NiceHandles.Models

@{
    ViewBag.Title = "Import Data";
    var hoso = Model.HoSo;
    var service = hoso?.Service;
    var contract = hoso?.Contract;
    var address = hoso?.LandParcel?.Address;
}

<h2>@(hoso?.name ?? "Import Data")</h2>
<h4>@(service?.name ?? "")</h4>
<p>@(address?.name ?? "")</p>
<hr />

<div id="notification-area"></div>

@using (Html.BeginForm("ImportData", "HoSoes", FormMethod.Post, new { @id = "importDataForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.HoSo.id)

    <div class="form-horizontal">
        <!-- Buttons Group -->
        <div class="btn-group-custom">
            <button type="button" id="btnLoadFromInfomation" class="btn btn-primary">
                <i class="fa fa-download"></i> Load từ Infomation cũ
            </button>
            <button type="button" id="btnAddOwner" class="btn btn-success">
                <i class="fa fa-plus"></i> Thêm chủ sở hữu
            </button>
            <button type="button" id="btnAddBuyerSeller" class="btn btn-info">
                <i class="fa fa-plus"></i> Thêm bên liên quan
            </button>
            <button type="button" id="btnClearAll" class="btn btn-warning">
                <i class="fa fa-eraser"></i> Xóa tất cả
            </button>
        </div>

        <!-- Tabs Navigation -->
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#chusohuu">Chủ sở hữu/Người liên quan</a></li>
            <li><a data-toggle="tab" href="#dat">Thửa đất</a></li>
            <li><a data-toggle="tab" href="#biendong">Biến động</a></li>
            <li><a data-toggle="tab" href="#download">Tải tài liệu</a></li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content">
            <!-- Tab 1: Chủ sở hữu/Người liên quan -->
            <div id="chusohuu" class="tab-pane fade in active">
                <br />

                <!-- Owners Section -->
                <fieldset>
                    <legend>Chủ sở hữu</legend>
                    <div id="owners-container">
                        @if (Model.Owners != null && Model.Owners.Any())
                        {
                            for (int i = 0; i < Model.Owners.Count; i++)
                            {
                                <div class="person-info-card" data-role="Owner" data-index="@i">
                                    <div class="card-header">
                                        <span>Chủ sở hữu #@(i + 1)</span>
                                        @if (i > 0)
                                        {
                                            <button type="button" class="btn btn-sm btn-danger remove-person" data-index="@i">
                                                <i class="fa fa-times"></i> Xóa
                                            </button>
                                        }
                                    </div>
                                    <div class="card-body">
                                        @Html.Partial("_PartialPersonInfo", Model.Owners[i], new ViewDataDictionary { { "prefix", $"Owners[{i}]" }, { "index", i } })
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <!-- Empty Owner form -->
                            <div class="person-info-card" data-role="Owner" data-index="0">
                                <div class="card-header">
                                    <span>Chủ sở hữu #1</span>
                                </div>
                                <div class="card-body">
                                    @Html.Partial("_PartialPersonInfo", new PersonInfo(), new ViewDataDictionary { { "prefix", "Owners[0]" }, { "index", 0 } })
                                </div>
                            </div>
                        }
                    </div>
                </fieldset>

                <hr />

                <!-- Buyers/Sellers Section -->
                <fieldset>
                    <legend>Bên liên quan (Mua/Bán)</legend>
                    <div id="buyers-sellers-container">
                        @if (Model.BuyersOrSellers != null && Model.BuyersOrSellers.Any())
                        {
                            for (int i = 0; i < Model.BuyersOrSellers.Count; i++)
                            {
                                <div class="person-info-card" data-role="BuyerOrSeller" data-index="@i">
                                    <div class="card-header">
                                        <span>Bên liên quan #@(i + 1)</span>
                                        <button type="button" class="btn btn-sm btn-danger remove-person" data-index="@i">
                                            <i class="fa fa-times"></i> Xóa
                                        </button>
                                    </div>
                                    <div class="card-body">
                                        @Html.Partial("_PartialPersonInfo", Model.BuyersOrSellers[i], new ViewDataDictionary { { "prefix", $"BuyersOrSellers[{i}]" }, { "index", i } })
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </fieldset>
            </div>

            <!-- Tab 2: Thửa đất -->
            <div id="dat" class="tab-pane fade">
                <br />
                <fieldset>
                    <legend>Thông tin thửa đất</legend>
                    @Html.Partial("_PartialLandParcel", Model.LandParcel ?? new LandParcel(), new ViewDataDictionary { { "prefix", "LandParcel" } })
                </fieldset>
            </div>

            <!-- Tab 3: Biến động -->
            <div id="biendong" class="tab-pane fade">
                <br />
                <fieldset>
                    <legend>Thông tin biến động</legend>
                    @Html.Partial("_PartialVariationInfo", Model.VariationInfo ?? new VariationInfo(), new ViewDataDictionary { { "prefix", "VariationInfo" } })
                </fieldset>
            </div>

            <!-- Tab 4: Download -->
            <div id="download" class="tab-pane fade">
                <br />
                <h4>Tải tài liệu</h4>
                <p>Chức năng tải tài liệu sẽ được cập nhật...</p>
            </div>
        </div>

        <!-- Submit Buttons -->
        <div class="form-group" style="margin-top: 20px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<!-- Hidden template for new PersonInfo -->
<div id="person-info-template" style="display: none;">
    <div class="person-info-card" data-role="{role}" data-index="{index}">
        <div class="card-header">
            <span>{title}</span>
            <button type="button" class="btn btn-sm btn-danger remove-person" data-index="{index}">
                <i class="fa fa-times"></i> Xóa
            </button>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Loại giấy tờ</label>
                    <input name="{prefix}[{index}].DocumentType" class="form-control" />
                </div>
                <div class="form-group col-md-4">
                    <label>Số giấy tờ</label>
                    <input name="{prefix}[{index}].DocumentNumber" class="form-control" />
                </div>
                <div class="form-group col-md-4">
                    <label>Họ và tên <span class="required-field">*</span></label>
                    <input name="{prefix}[{index}].FullName" class="form-control" required />
                </div>
                <div class="form-group col-md-4">
                    <label>Ngày sinh</label>
                    <input name="{prefix}[{index}].BirthDate" type="date" class="form-control" />
                </div>
                <div class="form-group col-md-4">
                    <label>Giới tính</label>
                    <select name="{prefix}[{index}].Gender" class="form-control">
                        <option value="">-- Chọn --</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>             
                <div class="form-group col-md-4">
                    <label>Ngày cấp GT</label>
                    <input name="{prefix}[{index}].IssueDate" type="date" class="form-control" />
                </div>
                <div class="form-group col-md-4">
                    <label>Nơi cấp GT</label>
                    <input name="{prefix}[{index}].Issuer" class="form-control" />
                </div>
                <div class="form-group col-md-4">
                    <label>Mã số thuế</label>
                    <input name="{prefix}[{index}].TaxCode" class="form-control" />
                </div>             
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/js/import-data-handler.js"></script>
}