@model IEnumerable<NiceHandles.Models.Category>
@using NiceHandles.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSetting.cshtml";
    var lstThuTrong = Model.Where(x => x.type == (int)XCategory.eType.Thu && x.parent_id == (int)XCategory.eParent.KhachHang);
    var lstThuNgoai = Model.Where(x => x.type == (int)XCategory.eType.Thu && x.parent_id == (int)XCategory.eParent.VanPhong);
    var lstChiTrong = Model.Where(x => x.type == (int)XCategory.eType.Chi && x.parent_id == (int)XCategory.eParent.KhachHang);
    var lstChiNgoai = Model.Where(x => x.type == (int)XCategory.eType.Chi && x.parent_id == (int)XCategory.eParent.VanPhong);
}

<div class="row" style="background-color: aliceblue;">
    <div class="col-md-6" style="background-color: aliceblue">
        <h4 style="text-align: center">DANH MỤC THU</h4>
        <div class="row">
            <div class="col-md-6">
                <p style="padding-left: 8px;">
                    <strong> THU TRONG HỒ SƠ</strong>
                    @Html.ActionLink("Thêm mới", "Create", "Categories", new { parent_id = (int)XCategory.eParent.KhachHang, type = (int)XCategory.eType.Thu }, new { @style = "float: right;" })
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Tên
                        </th>
                        <th>
                            Duyệt
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in lstThuTrong)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => XCategory.sDuyet[item.duyet])
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="col-md-6">
                <p style="padding-left: 8px;">
                    <strong> THU NGOÀI HỒ SƠ</strong>
                    @Html.ActionLink("Thêm mới", "Create", "Categories", new { parent_id = (int)XCategory.eParent.VanPhong, type = (int)XCategory.eType.Thu }, new { @style = "float: right;" })
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Tên
                        </th>
                        <th>
                            Duyệt
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in lstThuNgoai)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => XCategory.sDuyet[item.duyet])
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>
    <div class="col-md-6" style="background-color: antiquewhite;">
        <h4 style="text-align: center;">DANH MỤC CHI</h4>
        <div class="row">
            <div class="col-md-6">
                <p style="padding-left: 8px;">
                    <strong>THU CHI TRONG HỒ SƠ</strong>
                    @Html.ActionLink("Thêm mới", "Create", "Categories", new { parent_id = (int)XCategory.eParent.KhachHang, type = (int)XCategory.eType.Chi }, new { @style = "float: right;" })
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Tên
                        </th>
                        <th>
                            Duyệt
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in lstChiTrong)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => XCategory.sDuyet[item.duyet])
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="col-md-6">
                <p style="padding-left: 8px;">
                    <strong> CHI NGOÀI HỒ SƠ</strong>
                    @Html.ActionLink("Thêm mới", "Create", "Categories", new { parent_id = (int)XCategory.eParent.VanPhong, type = (int)XCategory.eType.Chi }, new { @style = "float: right;" })
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Tên
                        </th>
                        <th>
                            Duyệt
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in lstChiNgoai)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => XCategory.sDuyet[item.duyet])
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
