@using NiceHandles.Models
@switch (((Step)ViewBag.Step).code)
{
    case "HOSOMOI":
    case "NHAPTHONGTIN":
    case "KIEMTRA":
        break;
    case "DOVEUYQUYEN":
        break;
    case "NOP1CUA":
        @Html.Hidden("1cid", ((di1cua)ViewBag.NOP1CUA).id)
        @Html.Hidden("1ccontract_id", ((di1cua)ViewBag.NOP1CUA).contract_id)
        <div style="border: 1px solid; border-radius: 10px; padding: 10px 0; margin: 10px 0;" class="row text-success">
            <h5 class="text-center">THÔNG TIN NỘP 1 CỬA</h5>
            <div class="row form-horizontal" style="padding-right: 20px;">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("Ngày nộp", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("1cngaynop", Html.Raw(((di1cua)ViewBag.NOP1CUA).ngaynop.ToString("dd/MM/yyyy")), new { @class = "form-control datetime", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Ngày trả KQ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("1cngaytra", Html.Raw(((di1cua)ViewBag.NOP1CUA).ngaytra.ToString("dd/MM/yyyy")), new { @class = "form-control datetime", autocomplete = "off" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Nơi tiếp nhận", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("1cnoinhan", ViewBag.PLACE as SelectList, new { @class = "form-control" })
                        </div>
                    </div>

                    @*<div class="form-group" style="display: none;">
                            @Html.Label("Cán bộ phụ trách", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBox("1ccanbophutrach", Html.Raw(((di1cua)ViewBag.NOP1CUA).canbophutrach), new { @class = "form-control" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.Label("Mã phiếu hẹn", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("1cmaphieuhen", ((di1cua)ViewBag.NOP1CUA).maphieuhen, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("1ctrangthai", new SelectList(Xdi1cua.sStatus, "Key", "Value", ((di1cua)ViewBag.NOP1CUA).trangthai), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Ghi chú", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("1cghichu", ((di1cua)ViewBag.NOP1CUA).ghichu, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        break;
    case "THANHCONG":
    default: break;
}

<script>
    function Save1Cua() {
        var obj = new Object();
        obj.id = $("[name=1cid]").val();
        obj.contract_id = $("[name=1ccontract_id]").val();
        obj.ngaynop = $("[name=1cngaynop]").val();
        obj.ngaytra = $("[name=1cngaytra]").val();
        obj.canbo1cua = $("[name=1ccanbo1cua]").val();
        obj.noinhan_id = $("[name=1cnoinhan]").val();
        /*obj.canbophutrach = $("[name=1ccanbophutrach]").val();*/
        obj.maphieuhen = $("[name=1cmaphieuhen]").val();
        obj.trangthai = $("[name=1ctrangthai]").val();
        obj.ghichu = $("[name=1cghichu]").val();
        $.ajax({
            url: '/di1cua/Save',
            type: "POST",
            dataType: "JSON",
            data: { di1cua: obj, ngaynop: obj.ngaynop, ngaytra: obj.ngaytra },
            success: function () {
                toastr.options = {
                    "preventDuplicates": true,
                    "preventOpenDuplicates": true
                };
                toastr.success("Đã lưu đi 1 cửa", "THÀNH CÔNG", { timeOut: 5000 });
            }
        });
    }
</script>
