@model NiceHandles.Models.NhiemVu
@using NiceHandles.Models
@{
    ViewBag.Title = "Index";
    var tls = XFile.sTypeLevel.GroupBy(p => p.Value, (key, g) => new { value = key, LST = g.ToList() }).ToList();
    var files = ViewBag.FILES as Dictionary<int, string>;
    var odfden = ((OneDoorFile[])ViewBag.ONEDOORFILES).Where(x => x.type == (int)Xdi1cua.eFileType.TBVPDK);
    var odfdi = ((OneDoorFile[])ViewBag.ONEDOORFILES).Where(x => x.type == (int)Xdi1cua.eFileType.DDN);
    var db = (NHModel)ViewBag.db;
    var sv = (Service)ViewBag.Service;
    var ct = (Contract)ViewBag.Contract;
    var vStep = ViewBag.Step as Step;
    var nextStep = db.Steps.Find(vStep.next);
    var lstCVIDS = db.fk_congviec_service.Where(x => x.service_id == sv.id).Select(x => x.congviec_id);
    var lstCVs = lstCVIDS != null ? db.CongViecs.Where(x => lstCVIDS.Contains(x.id)) : null;
    var done = db.fk_congviec_hoso.Where(x => x.hoso_id == Model.id && x.status == (int)XModels.eStatus.Complete).Select(x => x.congviec_id);
    var processing = db.wf_contract.Where(x => x.contract_id == ct.id);
}
<h2>
    @Html.Raw(((Customer)ViewBag.Customer).name)
    <a href='/Infomations/Edit?contract_id=@Model.contract_id' style="font-size:14px; font-style: italic;" class="text-danger">
        <i style="font-size: large" class="fa fa-regular fa-keyboard"></i>
        Nhập thông tin
    </a>
</h2>
<input type="hidden" value="@Model.id" id="txtId" />
<div>
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    Dịch vụ
                </dt>
                <dd>
                    @sv.name
                </dd>
                <dt>
                    Địa chỉ
                </dt>
                <dd>
                    @Html.Raw(((Address)ViewBag.Address).name)
                </dd>
                <dt>
                    Điện thoại
                </dt>
                <dd>
                    @ct.sodienthoai
                </dd>
            </dl>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <p>
                <label>Bước hiện tại: <span class="text-danger"> @vStep.name</span></label>
                @if (nextStep != null)
                {
                    <label> | Bước tiếp là: <span class="text-danger"> @nextStep.name</span></label>
                }
            </p>
            @Html.ActionLink("Trả về", "Prev", "Contracts", new { id = ((Contract)ViewBag.Contract).id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Bước tiếp", "Next", "Contracts", new { id = ((Contract)ViewBag.Contract).id }, new { @class = "btn btn-info" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div style="border: 1px solid; border-radius: 10px; padding: 10px 0; margin: 0 0 10px 0;" class="row text-info">
                <form id="frmDCTD">
                    <div class="text-info col-sm-3" style="text-align: right;">
                        Địa chỉ thửa đất
                    </div>
                    <div class="col-sm-9">

                        <input style="display: inline-block;" class="form-control" value=")" />
                    </div>
                    <p style="clear: both;"></p>
                    <div class="text-info col-sm-3" style="text-align: right;">
                        Link file CAD
                    </div>
                    <div class="col-sm-9">
                        <input value="" style="display: inline-block; width: 70%;" class="form-control" id="txtCAD" readonly="readonly" />
                        <input type="file" style="display: inline-block; width: 210px; float: right;" class="btn btn-info" />
                    </div>
                    <p style="clear: both;"></p>
                    <div class="text-info col-sm-3">
                        &nbsp;
                    </div>
                    <div class="col-sm-9">
                        <input type="submit" value="Cập nhật" class="btn btn-info" />
                    </div>
                </form>
                <p style="clear: both;"></p>
                <div class="text-info col-sm-3" style="text-align: right;">
                    Ảnh chụp
                </div>
                <div class="col-sm-9">
                    <form class="frmUpload" id="10">
                        <input type="file" style="display: inline-block;" class="btn btn-info" />
                        <input type="submit" value="Upload" class="btn btn-info" />
                    </form>
                </div>
                <div class="col-sm-12" style="padding-left: 27%;">
                    <p class="10"> @Html.Raw(files[10])</p>
                </div>
            </div>

            @foreach (var ptl in tls.Where(x => !x.value.Equals("Khác")))
            {
                var disable = ptl.value.Equals("Phiếu VPĐK");
                <div style="border: 1px solid; border-radius: 10px; padding: 10px 0; margin: 10px 0;" class="row text-@XModels.Colors[tls.IndexOf(ptl) ]">
                    @foreach (var pk in ptl.LST)
                    {
                        <div class="text-@XModels.Colors[tls.IndexOf(ptl)] col-sm-3" style="text-align: right;">
                            @XFile.sType[pk.Key]
                        </div>
                        <div class="col-sm-9">
                            <form class="frmUpload" id="@pk.Key" style="@Html.Raw(disable?"display:none;": null )">
                                <input type="file" style="display: inline-block;" class="btn btn-@XModels.Colors[tls.IndexOf(ptl) ]" />
                                <input type="submit" value="Upload" class="btn btn-@XModels.Colors[tls.IndexOf(ptl) ]" />
                            </form>
                        </div>
                        <div class="col-sm-12" style="padding-left: 27%;">
                            <p class="@pk.Key"> @Html.Raw(files[pk.Key])</p>
                        </div>
                    }
                </div>
            }
            @if (odfden.Count() > 0)
            {
                <div style="border: 1px solid; border-radius: 10px; padding: 10px 0; margin: 10px 0;" class="row text-warning">
                    <h5 class="text-center">VĂN BẢN ĐẾN</h5>
                    <ul>
                        @foreach (var odf in odfden)
                        {
                            <li class="text-warning"><a href="@odf.url" target="_blank">@odf.name</a></li>
                        }
                    </ul>
                </div>
            }
            @if (odfdi.Count() > 0)
            {
                <div style="border: 1px solid; border-radius: 10px; padding: 10px 0; margin: 10px 0;" class="row text-danger">
                    <h5 class="text-center">VĂN BẢN ĐI</h5>
                    <ul>
                        @foreach (var odf in odfdi)
                        {
                            <li class="text-danger"><a href="@odf.url" target="_blank">@odf.name</a></li>
                        }
                    </ul>
                </div>
            }
            <div style="border: 1px solid; border-radius: 10px; padding: 10px 0; margin: 10px 0;" class="row text-danger">
                <h5 class="text-center">TIẾN ĐỘ</h5>
                <ul id="ulProcessing">
                    @foreach (var item in processing)
                    {
                        var us = db.Accounts.Single(x => x.id == item.account_id);
                        <li><span>@item.time.ToString("dd/MM/yy")</span> | <span>@us.fullname</span> | @item.note</li>
                    }
                </ul>
                <div class="row" style="margin-left: 10px;">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtProcessing" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <input type="button" value="Cập nhật" onclick="UpdateProcessing(@ct.id)" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_StepPartial")
            <p>
                <button type="button" onclick="SaveNote();" class="btn btn-primary">Lưu lại</button>
            </p>
            @Html.TextArea("txtMessage", "", new { @class = "form-control summernote", @style = "resize: vertical;", @rows = 50 })
        </div>
        <div class="col-md-5">
            <div style="background-color: aliceblue; border-radius: 10px; padding: 3px 10px; margin-bottom: 10px;">
                <h4><i class="fas fa-clipboard-list-check"></i> Công việc phải làm <button class="btn btn-danger" onclick="InCongViec(@ct.id,@sv.id);">Bản in</button> </h4>
                <ul>
                    @foreach (var cate in XCongViec.sCategory)
                    {
                        <li style="list-style: none;">
                            <h5 style="text-transform: uppercase;" class="text-danger">@Html.Raw(XCongViec.sCategoryIcon[cate.Key]) @cate.Value </h5>
                            <ul>
                                @foreach (var cv in lstCVs.Where(x => x.category_id == cate.Key))
                                {
                                    <li style="list-style: none;">
                                        <input onclick="CVChange(this,@cv.id);" style="height: 20px; width: 20px;" type="checkbox" value="@cv.id" @Html.Raw(done.Contains(cv.id) ? "checked" : null) />
                                        <span style="vertical-align: super;">@cv.name</span>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <div style="background-color: lavender; border-radius: 10px; padding: 3px 10px; margin-bottom: 10px;">
                <h4>Hướng dẫn làm dịch vụ @(((Service)ViewBag.Service).name)</h4>
                @Html.Raw(((Service)ViewBag.Service).trainning)
            </div>
            <div style="background-color: lavenderblush; border-radius: 10px; padding: 3px 10px; margin-bottom: 10px;">
                <h4>Hướng dẫn thực hiện bước @(((Step)ViewBag.Step).name)</h4>
                @Html.Raw(((Step)ViewBag.Step).description)
            </div>
            <div style="background-color: antiquewhite; border-radius: 10px; padding: 3px 10px;">
                @Html.Raw(((Contract)ViewBag.Contract).note)
            </div>
        </div>
        <hr />
    </div>
</div>

<p>
    @Html.ActionLink("Về trang chủ", "BanLamViec", "Contracts")
</p>
@section Style {
}

<div id="password" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="float: left;">Nhập mật khẩu xóa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Để chắc chắn rằng mình muốn xóa, vui lòng nhập mật khẩu</p>
                <input type="password" class="form-control" id="txtPassword" />
                <i id="lblWrongPass" class="text-danger hide">Sai mật khẩu</i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="confirmed()">Chấp nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<iframe id="my_iframe" style="display:none;"></iframe>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".datetime").datepicker({
                "autoclose": true,
                "todayHighlight": true,
                "dateFormat": "dd/mm/yyyy",
                "format": "dd/mm/yyyy",
            });
            $('.summernote').summernote({
                height: 500,
                fontSizes: ['8', '9', '10', '11', '12', '14', '18'],
                fontNames: ['Arial', 'Tahoma'],
                toolbar: [
                    ['style', ['bold', 'italic', 'underline']],
                    ['fontsize', ['fontsize']],
                    ['font', ['strikethrough']],
                    ['para', ['ol', 'paragraph']],
                    ['color', ['color']],
                ]
            });
            $(".del").click(function () {
                currentDelCtr = this;
                $("#password").modal("show");
                return false;
            });
            //$('#password').on('hidden.bs.modal', function () {
            //    currentDelCtr.click();
            //});
            $('.frmUpload').on("submit", function (event) {
                var frm = this;
                var t = $(this).attr("id");
                var formdata = new FormData(); //FormData object
                var fileInput = $(':file', this)[0];
                for (i = 0; i < fileInput.files.length; i++) {
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }
                formdata.append("id", $("#txtId").val());
                formdata.append("t", t);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/NhiemVus/Upload');
                xhr.send(formdata);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        $("p." + t).append(xhr.responseText);
                    }
                }
                event.preventDefault();
            });
            $('#frmDCTD').on("submit", function (event) {
                var formdata = new FormData(); //FormData object
                var fileInput = $('#frmDCTD :file')[0];
                for (i = 0; i < fileInput.files.length; i++) {
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }
                var gmap = $('#frmDCTD :text').val();
                formdata.append("id", $("#txtId").val());
                formdata.append("g", gmap);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/Contracts/EditDOVE');
                xhr.send(formdata);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        //$("p." + t).append(xhr.responseText);
                        $('#frmDCTD :file').val(null);
                        $('#frmDCTD #txtCAD').val(xhr.responseText);
                    }
                }
                event.preventDefault();
            });

        });
        var currentDelCtr = null;
        function confirmed() {
            var pass = $("#txtPassword").val();
            if (pass == "@Html.Raw(NiceHandles.Models.XModels.Password)") {
                var id = currentDelCtr.id;
                $.ajax({
                    url: '/NhiemVus/DelFile',
                    type: "POST",
                    dataType: "JSON",
                    data: { id: id },
                    success: function () {
                        $(currentDelCtr).prev().remove();
                        $(currentDelCtr).remove();
                    }
                });
                $("#password").modal("hide");
            }
            else { $("#lblWrongPass").removeClass("hide"); }
        }
        function SaveNote() {
            var obj = new Object();
            obj.contract_id = @Model.contract_id;
            obj.step_id = @Model.step_id;
            //obj.ghichu = $('#txtGhiChu').summernote('code');
            var message = $('#txtMessage').summernote('code');
            $.ajax({
                url: '/NhiemVus/SaveNote',
                type: "POST",
                dataType: "JSON",
                data: { obj: obj, message: message },
                success: function () {
                    toastr.options = {
                        "preventDuplicates": true,
                        "preventOpenDuplicates": true
                    };
                    toastr.success("Đã lưu", "THÀNH CÔNG", { timeOut: 5000 });
                }
            });
            if (typeof window["Save1Cua"] === 'function') {
                window["Save1Cua"]();
            }
            if (obj.step_id == 4) {

                var cont = new Object();
                cont.id = obj.contract_id;
                cont.GoogleLink = $("#txtLinkCad").val();
                cont.QRAddress = $("#txtDiaChi").val();

                $.ajax({
                    url: '/NhiemVus/SaveDVUQ',
                    type: "POST",
                    dataType: "JSON",
                    data: cont,
                    success: function () {
                    }
                });

            }
        }
        function CVChange(ctr, cvid) {
            var check = ctr.checked;
            var hoso_id = @Model.id;
            $.ajax({
                url: '/CongViecs/Update',
                type: "POST",
                dataType: "JSON",
                data: { hoso_id: hoso_id, congviec_id: cvid, check : check },
                success: function () {
                    toastr.success("Đã cập nhật", "THÀNH CÔNG", { timeOut: 3000 });
                }
            });
        }
        function UpdateProcessing() {
            var txt = $("#txtProcessing").val();
            var contract_id = @Model.contract_id;
            $.ajax({
                url: '/NhiemVus/UpdateProcessing',
                type: "POST",
                dataType: "JSON",
                data: { contract_id: contract_id, txt : txt},
                success: function (data) {
                    $("#ulProcessing").html(data);
                    $("#txtProcessing").val("");
                }
            });
        }
        function InCongViec(cid, sid) {
            $.ajax({
                url: '/NhiemVus/InCongViec',
                data: {
                    cid: cid,
                    sid: sid
                },
                type: "GET",
                dataType: "JSON",
                success: function (url) {
                    document.getElementById('my_iframe').src = url;
                }
            });
        }
    </script>
}
