@using NiceHandles.Models
@model NiceHandles.Models.Infomation
@{
    var db = new NHModel();

    var ThongTinCaNhans = db.ThongTinCaNhans.Where(x => x.infomation_id == Model.id).ToArray();
    var ThuaDats = db.ThuaDats.Where(x => x.infomation_id == Model.id).ToArray();
    var TachThuas = db.TachThuas.Where(x => x.infomation_id == Model.id).ToArray();

    var SoHoKhaus = db.SoHoKhaus.Where(x => x.infomation_id == Model.id).ToArray();
    var HangThuaKe1 = db.ThongTinCaNhans.Where(x => x.infomation_id == Model.id && x.hangthuake == (int)XThongTinCaNhan.eHangThuaKe.HangThuaKe1).ToArray();
    var HangThuaKe2 = db.ThongTinCaNhans.Where(x => x.infomation_id == Model.id && x.hangthuake == (int)XThongTinCaNhan.eHangThuaKe.HangThuaKe2).ToArray();
    var NhanKhaus = db.ThongTinCaNhans.Where(x => x.infomation_id == Model.id && x.sohokhau_id.HasValue).ToArray();

    var ChuDat = db.ThongTinCaNhans.Where(x => x.infomation_id == Model.id && x.hangthuake == (int)XThongTinCaNhan.eHangThuaKe.ChuDat).SingleOrDefault();
    if (ChuDat == null)
    {
        ChuDat = new ThongTinCaNhan();
    }
}
<section id="ssLanDau">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#ldTTBS">Thông tin bổ sung</a></li>
        <li><a data-toggle="tab" href="#ldNguoiDaiDien">Người đại diện</a></li>
        <li><a data-toggle="tab" href="#ldSoHoKhau">Sổ hộ khẩu</a></li>
    </ul>
    <div class="tab-content">
        <div id="ldTTBS" class="tab-pane fade in active">
            <div class="form-horizontal">
                <br />
                <div class="row">
                    <div class="col-sm-9">
                        <p class="text-primary">THÔNG TIN BỔ SUNG</p>
                        <div class="form-group">
                            @Html.Label("Thời điểm sử dụng", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.b_thoidiemsudung, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.b_thoidiemsudung, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Nguồn gốc đất lần đầu", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.b_nguongoc_landau, new { @class = "form-control", rows = "3" })
                                @Html.ValidationMessageFor(model => model.b_nguongoc_landau, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Số công chứng", new { @class = "control-label col-md-2" })
                            @Html.LabelFor(model => model.d_sohopdong, new { @class = "lblKey" })
                            <div class="col-md-10">
                                @Html.TextBox("x_sohopdong", Model.d_sohopdong, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.d_sohopdong, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Nơi công chứng", new { @class = "control-label col-md-2" })
                            @Html.LabelFor(model => model.d_noicongchung, new { @class = "lblKey" })
                            <div class="col-md-10">
                                @Html.TextBox("x_noicongchung", Model.d_noicongchung, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.d_noicongchung, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Ngày công chứng", new { @class = "control-label col-md-2" })
                            @Html.LabelFor(model => model.d_ngaycongchung, new { @class = "lblKey" })
                            <div class="col-md-10">
                                @Html.TextBox("x_ngaycongchung", Model.d_ngaycongchung.HasValue ? Model.d_ngaycongchung.Value.ToString("dd/MM/yyyy") : null, new { @class = "form-control datetime", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.d_ngaycongchung, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="ld_id" />
        <input type="hidden" id="ld_infomation_id" value="@Model.id" />
        <input type="hidden" id="ld_type" value="@((int)XInfomation.eService.LanDau)" />

        <div id="ldNguoiDaiDien" class="tab-pane fade in">
            <br />
            <h4>Thông tin về nguồn gốc đất</h4>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#ldChuDat">Chủ nguồn gốc đất</a></li>
                <li><a data-toggle="tab" href="#ldHangThuaKe1">Hàng thừa kế thứ nhất</a></li>
                <li><a data-toggle="tab" href="#ldHangThuaKe2">Hàng thừa kế thứ hai</a></li>
            </ul>
            <div class="tab-content">
                <br />
                <div id="ldChuDat" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="text-primary">CHỦ ĐẤT 1</p>
                                <div class="form-group">
                                    @Html.Label("Họ tên", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_hoten" class="form-control" value="@ChuDat.hoten" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Ngày sinh", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_ngaysinh" class="form-control datetime" autocomplete="off"
                                               value="@(ChuDat.ngaysinh.HasValue? ChuDat.ngaysinh.Value.ToString("dd/MM/yyyy"): null )" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Giới tính", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input class="btn-check" name="ld_gioitinh" type="radio" id="ldNam" value="Nam"
                                               @( (string.IsNullOrEmpty(ChuDat.gioitinh) || ChuDat.gioitinh.ToUpper().Equals("NAM")) ? "checked" : null ) />
                                        <label class="btn btn-outline-primary" for="ldNam">Nam</label>
                                        <input class="btn-check" name="ld_gioitinh" type="radio" id="ldNu" value="Nữ"
                                               @( (!string.IsNullOrEmpty(ChuDat.gioitinh) && ChuDat.gioitinh.ToUpper().Equals("NỮ")) ? "checked" : null ) />
                                        <label class="btn btn-outline-primary" for="ldNu">Nữ</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Loại giấy tờ", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input class="btn-check" name="ld_loaigiayto" type="radio" id="ldCCCD" value="CCCD"
                                               @( (string.IsNullOrEmpty(ChuDat.loaigiayto) || ChuDat.loaigiayto.ToUpper().Equals("CCCD")) ? "checked" : null ) />
                                        <label class="btn btn-outline-primary" for="ldCCCD">Căn cước công dân</label>
                                        <input class="btn-check" name="ld_loaigiayto" type="radio" id="ldCMND" value="CMND"
                                               @( (string.IsNullOrEmpty(ChuDat.loaigiayto) || ChuDat.loaigiayto.ToUpper().Equals("CMND")) ? "checked" : null ) />
                                        <label class="btn btn-outline-primary" for="ldCMND">Chứng minh nhân dân</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Số giấy tờ", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_sogiayto" class="form-control" value="@ChuDat.sogiayto" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Ngày cấp", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_ngaycap_gt" class="form-control datetime" autocomplete="off"
                                               value="@(ChuDat.ngaycap_gt.HasValue? ChuDat.ngaycap_gt.Value.ToString("dd/MM/yyyy"): null )" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Nơi cấp", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_noicap_gt" class="form-control" value="@ChuDat.noicap_gt" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Ngày chết", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_ngaychet" class="form-control datetime" autocomplete="off"
                                               value="@(ChuDat.ngaychet.HasValue? ChuDat.ngaychet.Value.ToString("dd/MM/yyyy"): null )" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Giấy tờ chết", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_giaytochet" class="form-control" placeholder="Trích lục khai tử số ABC do UBND xã XYZ cấp ngày 1/1/2001" value="@ChuDat.giaytochet" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-danger">CHỦ ĐẤT 2</p>
                                <div class="form-group">
                                    @Html.Label("Họ tên", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_hoten1" class="form-control" value="@ChuDat.hoten1" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Ngày sinh", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_ngaysinh1" class="form-control datetime" autocomplete="off"
                                               value="@(ChuDat.ngaysinh1.HasValue? ChuDat.ngaysinh1.Value.ToString("dd/MM/yyyy"): null )" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Giới tính", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input class="btn-check" name="ld_gioitinh1" type="radio" id="ldNam1" value="Nam"
                                               @( (string.IsNullOrEmpty(ChuDat.gioitinh1) || ChuDat.gioitinh1.ToUpper().Equals("NAM")) ? "checked" : null ) />
                                        <label class="btn btn-outline-primary" for="ldNam1">Nam</label>
                                        <input class="btn-check" name="ld_gioitinh1" type="radio" id="ldNu1" value="Nữ"
                                               @( (!string.IsNullOrEmpty(ChuDat.gioitinh1) && ChuDat.gioitinh1.ToUpper().Equals("NỮ")) ? "checked" : null ) />
                                        <label class="btn btn-outline-primary" for="ldNu1">Nữ</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Loại giấy tờ", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input class="btn-check" name="ld_loaigiayto1" type="radio" id="ldCCCD1" value="CCCD"
                                               @( (string.IsNullOrEmpty(ChuDat.loaigiayto1) || ChuDat.loaigiayto1.ToUpper().Equals("CCCD")) ? "checked" : null ) />
                                        <label class="btn btn-outline-primary" for="ldCCCD1">Căn cước công dân</label>
                                        <input class="btn-check" name="ld_loaigiayto1" type="radio" id="ldCMND1" value="CMND"
                                               @( (string.IsNullOrEmpty(ChuDat.loaigiayto1) || ChuDat.loaigiayto1.ToUpper().Equals("CMND")) ? "checked" : null ) />
                                        <label class="btn btn-outline-primary" for="ldCMND1">Chứng minh nhân dân</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Số giấy tờ", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_sogiayto1" class="form-control" value="@ChuDat.sogiayto1" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Ngày cấp", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_ngaycap_gt1" class="form-control datetime" autocomplete="off"
                                               value="@(ChuDat.ngaycap_gt1.HasValue? ChuDat.ngaycap_gt1.Value.ToString("dd/MM/yyyy"): null )" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Nơi cấp", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_noicap_gt1" class="form-control" value="@ChuDat.noicap_gt1" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Ngày chết", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_ngaychet1" class="form-control datetime" autocomplete="off"
                                               value="@(ChuDat.ngaychet1.HasValue? ChuDat.ngaychet1.Value.ToString("dd/MM/yyyy"): null )" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Giấy tờ chết", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="ld_giaytochet1" class="form-control" placeholder="Trích lục khai tử số ABC do UBND xã XYZ cấp ngày 1/1/2001" value="@ChuDat.giaytochet1" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="ldHangThuaKe1" class="tab-pane fade in">

                    <h4>Hàng thừa kế thứ nhất</h4>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#HangThuaKe1Modal" onclick="ThemHangThuaKe1()">
                        Thêm người thuộc hàng thừa kế thứ nhất
                    </button>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Họ và tên</th>
                                <th>Năm sinh</th>
                                <th>Năm mất</th>
                                <th>Đại diện</th>
                                <th>Sống trên đất</th>
                                <th>Quan hệ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in HangThuaKe1 as ThongTinCaNhan[])
                            {
                                <tr id="@item.id">
                                    <td>@item.hoten</td>
                                    <td>@(item.ngaysinh.HasValue ? item.ngaysinh.Value.ToString("yyyy") : "" )</td>
                                    <td>@(item.ngaychet.HasValue ? item.ngaychet.Value.ToString("yyyy") : "" )</td>
                                    <td>@(item.marker.HasValue && item.marker.Value == (int)XModels.eYesNo.Yes ? "Đại diện" : "---" )</td>
                                    <td>@((item.songtrendat.HasValue && item.songtrendat.Value == (int)XModels.eYesNo.Yes) ? "Sống trên đất" : "Không sống trên đất" )</td>
                                    <td>@(item.quanhe.HasValue ? XThongTinCaNhan.sQuanHe[item.quanhe.Value] : null)</td>
                                    <td>
                                        <a href='#' data-toggle="modal" data-target="#HangThuaKe1Modal" onclick="EditHangThuaKe1(@item.id)">Sửa</a> |
                                        <a href='#' onclick="XoaHangThuaKe1(@item.id)">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="modal" tabindex="-1" role="dialog" id="HangThuaKe1Modal" aria-labelledby="HangThuaKe1ModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document" style="width: 80%; min-width: 1200px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="HangThuaKe1ModalLabel">Hàng thừa kế thứ nhất</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Đóng lại">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-horizontal">
                                        <br />
                                        <input type="hidden" id="htk1_id" />
                                        <input type="hidden" id="htk1_infomation_id" value="@Model.id" />
                                        <input type="hidden" id="htk1_type" value="@((int)XInfomation.eService.LanDau)" />
                                        <input type="hidden" id="htk1_hangthuake" value="@((int)XThongTinCaNhan.eHangThuaKe.HangThuaKe1)" />

                                        <div class="form-group">
                                            @Html.Label("Quan hệ với chủ đất", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("htk1_quanhe", new SelectList(XThongTinCaNhan.sQuanHe, "Key", "Value"), new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Họ tên", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk1_hoten" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Ngày sinh", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk1_ngaysinh" class="form-control datetime" autocomplete="off" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Giới tính", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input class="btn-check" name="htk1_gioitinh" type="radio" checked id="htk1_Nam" value="Nam" />
                                                <label class="btn btn-outline-primary" for="htk1_Nam">Nam</label>
                                                <input class="btn-check" name="htk1_gioitinh" type="radio" id="htk1_Nu" value="Nữ" />
                                                <label class="btn btn-outline-primary" for="htk1_Nu">Nữ</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Là người đại diện", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input class="btn-check" name="htk1_marker" type="radio" checked id="htk1_No" value="@((int)XModels.eYesNo.No)" />
                                                <label class="btn btn-outline-primary" for="htk1_No">Không</label>
                                                <input class="btn-check" name="htk1_marker" type="radio" id="htk1_Yes" value="@((int)XModels.eYesNo.Yes)" />
                                                <label class="btn btn-outline-primary" for="htk1_Yes">Có</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Sống trên đất", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input class="btn-check" name="htk1_songtrendat" type="radio" checked id="htk1_songtrendatNo" value="@((int)XModels.eYesNo.No)" />
                                                <label class="btn btn-outline-primary" for="htk1_songtrendatNo">Không</label>
                                                <input class="btn-check" name="htk1_songtrendat" type="radio" id="htk1_songtrendatYes" value="@((int)XModels.eYesNo.Yes)" />
                                                <label class="btn btn-outline-primary" for="htk1_songtrendatYes">Có</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("HKTT", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk1_hktt" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Loại giấy tờ", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input class="btn-check" name="htk1_loaigiayto" type="radio" checked id="htk1_CCCD" value="CCCD" />
                                                <label class="btn btn-outline-primary" for="htk1_CCCD">Căn cước công dân</label>
                                                <input class="btn-check" name="htk1_loaigiayto" type="radio" id="htk1_CMND" value="CMND" />
                                                <label class="btn btn-outline-primary" for="htk1_CMND">Chứng minh nhân dân</label>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.Label("Số giấy tờ", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk1_sogiayto" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Ngày cấp", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk1_ngaycap_gt" class="form-control datetime" autocomplete="off" />
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.Label("Nơi cấp", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk1_noicap_gt" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Ngày mất", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk1_ngaychet" class="form-control datetime" autocomplete="off" />
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.Label("Giấy tờ chứng tử", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk1_giaytochet" placeholder="Trích lục khai tử số ABC do UBND xã XYZ cấp ngày 1/1/2001" class="form-control" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="fcSaveHangThuaKe1()">Đồng ý</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng lại</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ldHangThuaKe2" class="tab-pane fade in">
                    <h4>Hàng thừa kế thứ hai</h4>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#HangThuaKe2Modal" onclick="ThemHangThuaKe2()">
                        Thêm người thuộc hàng thừa kế thứ hai
                    </button>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Họ và tên</th>
                                <th>Năm sinh</th>
                                <th>Năm mất</th>
                                <th>Quan hệ</th>
                                <th>Đại diện</th>
                                <th>Sống trên đất</th>
                                <th>Thừa kế từ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in HangThuaKe2 as ThongTinCaNhan[])
                            {
                                ThongTinCaNhan fk = null;
                                fk = item.fk_id.HasValue ? (db as NHModel).ThongTinCaNhans.Find(item.fk_id) : new ThongTinCaNhan();
                                <tr id="@item.id">
                                    <td>@item.hoten</td>
                                    <td>@(item.ngaysinh.HasValue ? item.ngaysinh.Value.ToString("yyyy") : "" )</td>
                                    <td>@(item.ngaychet.HasValue ? item.ngaychet.Value.ToString("yyyy") : "" )</td>
                                    <td>@(item.quanhe.HasValue ? XThongTinCaNhan.sQuanHe[item.quanhe.Value] : null)</td>
                                    <td>@(item.marker.HasValue && item.marker.Value == (int)XModels.eYesNo.Yes ? "Đại diện" : "---" )</td>
                                    <td>@((item.songtrendat.HasValue && item.songtrendat.Value == (int)XModels.eYesNo.Yes)? "Ở trên đất" : "Không ở trên đất" )</td>
                                    <td>@(fk!=null?fk.hoten: null)</td>
                                    <td>
                                        <a href='#' data-toggle="modal" data-target="#HangThuaKe2Modal" onclick="EditHangThuaKe2(@item.id)">Sửa</a> |
                                        <a href='#' onclick="XoaHangThuaKe2(@item.id)">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="modal" tabindex="-1" role="dialog" id="HangThuaKe2Modal" aria-labelledby="HangThuaKe2ModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document" style="width: 80%; min-width: 1200px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="HangThuaKe2ModalLabel">Hàng thừa kế thứ 2</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Đóng lại">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-horizontal">
                                        <br />
                                        <input type="hidden" id="htk2_id" />
                                        <input type="hidden" id="htk2_infomation_id" value="@Model.id" />
                                        <input type="hidden" id="htk2_type" value="@((int)XInfomation.eService.LanDau)" />
                                        <input type="hidden" id="htk2_hangthuake" value="@((int)XThongTinCaNhan.eHangThuaKe.HangThuaKe2)" />

                                        <div class="form-group">
                                            @Html.Label("Thừa kế từ", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("htk2_fk_id", new SelectList(HangThuaKe1 as ThongTinCaNhan[], "id", "hoten"), new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Quan hệ với HTK thứ nhất", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("htk2_quanhe", new SelectList(XThongTinCaNhan.sQuanHe, "Key", "Value", (int)XThongTinCaNhan.eQuanHe.Con), new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Họ tên", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk2_hoten" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Ngày sinh", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk2_ngaysinh" class="form-control datetime" autocomplete="off" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label("Giới tính", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input class="btn-check" name="htk2_gioitinh" type="radio" checked id="htk2_Nam" value="Nam" />
                                                <label class="btn btn-outline-primary" for="htk2_Nam">Nam</label>
                                                <input class="btn-check" name="htk2_gioitinh" type="radio" id="htk2_Nu" value="Nữ" />
                                                <label class="btn btn-outline-primary" for="htk2_Nu">Nữ</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Là người đại diện", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input class="btn-check" name="htk2_marker" type="radio" checked id="htk2_No" value="@((int)XModels.eYesNo.No)" />
                                                <label class="btn btn-outline-primary" for="htk2_No">Không</label>
                                                <input class="btn-check" name="htk2_marker" type="radio" id="htk2_Yes" value="@((int)XModels.eYesNo.Yes)" />
                                                <label class="btn btn-outline-primary" for="htk2_Yes">Có</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Sống trên đất", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input class="btn-check" name="htk2_songtrendat" type="radio" checked id="htk2_songtrendatNo" value="@((int)XModels.eYesNo.No)" />
                                                <label class="btn btn-outline-primary" for="htk2_songtrendatNo">Không</label>
                                                <input class="btn-check" name="htk2_songtrendat" type="radio" id="htk2_songtrendatYes" value="@((int)XModels.eYesNo.Yes)" />
                                                <label class="btn btn-outline-primary" for="htk2_songtrendatYes">Có</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("HKTT", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk2_hktt" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Loại giấy tờ", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input class="btn-check" name="htk2_loaigiayto" type="radio" checked id="htk2_CCCD" value="CCCD" />
                                                <label class="btn btn-outline-primary" for="htk2_CCCD">Căn cước công dân</label>
                                                <input class="btn-check" name="htk2_loaigiayto" type="radio" id="htk2_CMND" value="CMND" />
                                                <label class="btn btn-outline-primary" for="htk2_CMND">Chứng minh nhân dân</label>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.Label("Số giấy tờ", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk2_sogiayto" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Ngày cấp", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk2_ngaycap_gt" class="form-control datetime" autocomplete="off" />
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.Label("Nơi cấp", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk2_noicap_gt" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("Ngày mất", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk2_ngaychet" class="form-control datetime" autocomplete="off" />
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            @Html.Label("Giấy tờ chứng tử", new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <input id="htk2_giaytochet" placeholder="Trích lục khai tử số ABC do UBND xã XYZ cấp ngày 1/1/2001" class="form-control" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="fcSaveHangThuaKe2()">Đồng ý</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng lại</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ldSoHoKhau" class="tab-pane fade in">
            <h4>Danh sách các khẩu đang sử dụng thửa đất</h4>
            <p><strong>Địa chỉ tại: </strong> @Model.b_diachithuadat</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SoHoKhauModal" onclick="ThemSoHoKhau()">
                Thêm hộ khẩu
            </button>
            <table class="table table-hover" id="tblSoHoKhau">
                <thead>
                    <tr>
                        <th>Số hộ khẩu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in SoHoKhaus as SoHoKhau[])
                    {
                        <tr id="@item.id">
                            <td>
                                @item.so
                            </td>
                            <td>
                                <a href='#' data-toggle="modal" data-target="#NhanKhauModal" onclick="OpenNhanKhau(@item.id)">Nhân khẩu</a> |
                                <a href='#' data-toggle="modal" data-target="#SoHoKhauModal" onclick="EditSoHoKhau(@item.id)">Sửa</a> |
                                <a href='#' onclick="XoaSoHoKhau(@item.id)">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="modal" tabindex="-1" role="dialog" id="SoHoKhauModal" aria-labelledby="SoHoKhauModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="SoHoKhauModalLabel">Sổ hộ khẩu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Đóng lại">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-horizontal">
                                <input type="hidden" id="shk_id" />
                                <input type="hidden" id="shk_infomation_id" value="@Model.id" />
                                <input type="hidden" id="shk_type" value="@((int)XInfomation.eService.LanDau)" />

                                <div class="form-group">
                                    @Html.Label("Số hộ khẩu", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="shk_sohokhau" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="fcSaveSoHoKhau()">Đồng ý</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng lại</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="NhanKhauModal" aria-labelledby="NhanKhauModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document" style="min-width: 1200px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="NhanKhauModalLabel">Nhân khẩu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Đóng lại">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-horizontal">
                                <input type="hidden" id="nk_id" />
                                <input type="hidden" id="nk_sohokhau_id" />
                                <input type="hidden" id="nk_infomation_id" value="@Model.id" />
                                <input type="hidden" id="nk_type" value="@((int)XInfomation.eService.LanDau)" />

                                <div class="form-group">
                                    @Html.Label("Họ tên", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="nk_hoten" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Ngày sinh", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="nk_ngaysinh" class="form-control datetime" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Ghi chú", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="nk_ghichuquanhe" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Loại giấy tờ", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input class="btn-check" name="nk_loaigiayto" type="radio" checked id="nk_CCCD" value="CCCD" />
                                        <label class="btn btn-outline-primary" for="nk_CCCD">Căn cước công dân</label>
                                        <input class="btn-check" name="nk_loaigiayto" type="radio" id="nk_CMND" value="CMND" />
                                        <label class="btn btn-outline-primary" for="nk_CMND">Chứng minh nhân dân</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Số giấy tờ", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="nk_sogiayto" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Ngày cấp", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="nk_ngaycap_gt" class="form-control datetime" autocomplete="off" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.Label("Nơi cấp", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input id="nk_noicap_gt" class="form-control" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="fcSaveNhanKhau()">Đồng ý</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng lại</button>
                        </div>
                        <div class="modal-body">

                            <button type="button" class="btn btn-primary" onclick="ThemNhanKhau()">
                                Thêm nhân khẩu
                            </button>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Họ tên</th>
                                        <th>Năm sinh</th>
                                        <th>Ghi chú</th>
                                        <th>Loại giấy tờ</th>
                                        <th>Số giấy tờ</th>
                                        <th>Nơi cấp</th>
                                        <th>Ngày cấp</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in NhanKhaus as ThongTinCaNhan[])
                                    {
                                        <tr id="@item.id">
                                            <td>
                                                @item.hoten
                                            </td>
                                            <td>@(item.ngaysinh.HasValue ? item.ngaysinh.Value.ToString("yyyy") : "" )</td>
                                            <td>@item.ghichuquanhe</td>

                                            <td>@item.loaigiayto</td>
                                            <td>@item.sogiayto</td>
                                            <td>@item.noicap_gt</td>
                                            <td>@(item.ngaycap_gt.HasValue?item.ngaycap_gt.Value.ToString("dd/MM/yyyy"): null)</td>

                                            <td>
                                                <a href='#' onclick="EditNhanKhau(@item.id)">Sửa</a> |
                                                <a href='#' onclick="XoaNhanKhau(@item.id)">Xóa</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>