@model NiceHandles.Models.Infomation
@using NiceHandles.Models

@{
    ViewBag.Title = "Edit";
    var db = new NHModel();
    var hoso = db.HoSoes.Find(Model.hoso_id);
    var service = db.Services.Find(hoso.service_id);
    var contract = db.Contracts.Find(hoso.contract_id);
    var address = db.Addresses.Find(contract.address_id);

    // Pass data to ViewBag for partial views
    ViewBag.HoSo = hoso;
    ViewBag.Service = service;
    ViewBag.Contract = contract;
    ViewBag.Address = address;
    ViewBag.Database = db;
}

<style type="text/css">
    legend {
        color: red;
        font-style: italic;
        font-size: 16px;
        background-color: antiquewhite;
    }

    .showhide:hover {
        cursor: pointer;
    }

    .lblKey {
        position: absolute;
        left: -200px;
        top: 7px;
        font-weight: normal;
    }

    .lblKey_r {
        position: absolute;
        right: -200px;
        top: 7px;
        font-weight: normal;
    }

    .form-group {
        position: relative;
    }
</style>

<h2>@hoso.name</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@service.name</h4>
        <p>@address.name</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.hoso_id)

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#chusohuu">Người đứng tên bìa (hoặc người đại diện) (a)</a></li>
            <li><a data-toggle="tab" href="#dat">Thửa đất(b)</a></li>
            <li><a data-toggle="tab" href="#uyquyen">Người được ủy quyền(e)</a></li>
            <li><a data-toggle="tab" href="#thongtinthem">Thông tin thêm(c)</a></li>
            <li class="hide"><a data-toggle="tab" href="#chuyennhuong">Biến động (Mua bán - Tặng cho)(d)</a></li>
            <li class="hide"><a data-toggle="tab" href="#landau">Cấp lần đầu (f)</a></li>
            <li class="hide"><a data-toggle="tab" href="#caplai">Cấp lại (g)</a></li>
            <li class="hide"><a data-toggle="tab" href="#capdoi">Cấp đổi (h)</a></li>
            <li class="hide"><a data-toggle="tab" href="#hopthua">Hợp thửa (i)</a></li>
            <li class="hide"><a data-toggle="tab" href="#tachthua">Tách thửa (k)</a></li>
            <li class="hide"><a data-toggle="tab" href="#dinhchinh">Đính chính (l)</a></li>
            <li class="hide"><a data-toggle="tab" href="#chuyenvuon">Chuyển vườn (m)</a></li>
            <li class="hide"><a data-toggle="tab" href="#chuyenmucdich">Chuyển mục đích SDĐ (n)</a></li>
            <li class="hide"><a data-toggle="tab" href="#thuake">Thừa kế (o)</a></li>
            <li class="hide"><a data-toggle="tab" href="#huygcn">Huỷ GCN (p)</a></li>
            <li><a data-toggle="tab" href="#download">Tải tài liệu</a></li>
        </ul>

        <div class="tab-content">
            <!-- Tab Chủ sở hữu -->
            <div id="chusohuu" class="tab-pane fade in active">
                @Html.Partial("_PartialChuSoHuu", Model)
            </div>

            <!-- Tab Thửa đất -->
            <div id="dat" class="tab-pane fade">
                @Html.Partial("_PartialThuaDat", Model)
            </div>

            <!-- Tab Ủy quyền -->
            <div id="uyquyen" class="tab-pane fade">
                @Html.Partial("_PartialUyQuyen", Model)
            </div>

            <!-- Tab Thông tin thêm -->
            <div id="thongtinthem" class="tab-pane fade">
                @Html.Partial("_PartialThongTinThem", Model)
            </div>

            <!-- Tab Chuyển nhượng -->
            <div id="chuyennhuong" class="tab-pane fade">
                @Html.Partial("_PartialChuyenNhuong", Model)
            </div>

            <!-- Tab Lần đầu -->
            <div id="landau" class="tab-pane fade">
                <br />
                @Html.Partial("_PartialLanDau", Model)
            </div>

            <!-- Tab Cấp lại -->
            <div id="caplai" class="tab-pane fade">
                @Html.Partial("_PartialCapLai", Model)
            </div>

            <!-- Tab Cấp đổi -->
            <div id="capdoi" class="tab-pane fade">
                @Html.Partial("_PartialCapDoi", Model)
            </div>

            <!-- Tab Hợp thửa -->
            <div id="hopthua" class="tab-pane fade">
                <br />
                @Html.Partial("_PartialHopThua")
            </div>

            <!-- Tab Tách thửa -->
            <div id="tachthua" class="tab-pane fade">
                <br />
                @Html.Partial("_PartialTachThua")
            </div>

            <!-- Tab Đính chính -->
            <div id="dinhchinh" class="tab-pane fade">
                @Html.Partial("_PartialDinhChinh", Model)
            </div>

            <!-- Tab Chuyển vườn -->
            <div id="chuyenvuon" class="tab-pane fade">
                @Html.Partial("_PartialChuyenVuon", Model)
            </div>

            <!-- Tab Download -->
            <div id="download" class="tab-pane fade">
                @Html.Partial("_PartialDownload", Model)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu lại" class="btn btn-default" onclick="BonusSave()" />
            </div>
        </div>
    </div>
}

<iframe id="my_iframe" style="display:none;"></iframe>
<div>
    @Html.ActionLink("Về danh sách", "Details", "Hosoes", new { id = Model.hoso_id }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.min.js"></script>    
    @Html.Partial("_PartialScripts", service.code)
}