@model NiceHandles.Models.KPI
@using NiceHandles.Models

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    var db = new NHModel();
    var links = db.KPILinks.Where(x => x.KPI_id == Model.id).ToArray();
    var socials = db.Socials.Where(x => x.kpi_id == Model.id).ToArray();
    //
    var fb = links.Where(x => x.type == (int)XKPI.eType.Facebook).FirstOrDefault();
    var zl = links.Where(x => x.type == (int)XKPI.eType.Zalo).FirstOrDefault();
    var gp = links.Where(x => x.type == (int)XKPI.eType.Group).FirstOrDefault();
    var fp = links.Where(x => x.type == (int)XKPI.eType.Fanpage).FirstOrDefault();
    var wb = links.Where(x => x.type == (int)XKPI.eType.Website).FirstOrDefault();
    // kbfb =
    var kbfb = socials.Where(x => x.type == (int)XKPI.eType.PostFacebook);
    var kbzl = socials.Where(x => x.type == (int)XKPI.eType.PostZalo);

}

<div style="border: 1px none; border-radius: 10px; background-color: azure; padding: 10px; margin: 10px;">
    <div class="form-horizontal">
        <h4><i> Link chia sẻ</i></h4>
        <div id="fb">
            <div class="form-group">
                @Html.Label("Đăng Facebook", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @(fb!=null?fb.link: null)
                </div>
            </div>
        </div>
        <div id="zl">
            <div class="form-group">
                @Html.Label("Đăng Zalo", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @(zl!=null?zl.link: null)
                </div>
            </div>
        </div>
        <div id="gp">
            <div class="form-group">
                @Html.Label("Đăng Group FB", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @(gp!=null?gp.link: null)
                </div>
            </div>
        </div>
        <div id="fp">
            <div class="form-group">
                @Html.Label("Đăng Fanpage FB", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @(fp!=null?fp.link: null)
                </div>
            </div>
        </div>
        <div id="wb">
            <div class="form-group">
                @Html.Label("Đăng Website", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @(wb!=null?wb.link: null)
                </div>
            </div>
        </div>
    </div>
</div>
<div style="border: 1px none; border-radius: 10px; background-color: aliceblue; padding: 10px; margin: 10px;" id="kbzl">
    <div class="form-horizontal">
        <h4><i> Nhập danh sách kết bạn Zalo</i></h4>
        <table class="table">
            <tr>
                <th class="col-md-2">
                    Họ tên
                </th>
                <th class="col-md-2">
                    ID/SĐT
                </th>
                <th class="col-md-2">
                    Nghề nghiệp
                </th>
                <th>
                    Ghi chú
                </th>
            </tr>
            @foreach (var item in kbzl)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.id_no</td>
                    <td>@item.nghenghiep</td>
                    <td>@item.note</td>
                </tr>
            }
        </table>
    </div>
</div>
<div style="border: 1px none; border-radius: 10px; background-color: whitesmoke; padding: 10px; margin: 10px;" id="kbfb">
    <div class="form-horizontal">
        <h4><i> Nhập danh sách kết bạn Facebook</i></h4>
        <table class="table">
            <tr>
                <th class="col-md-2">
                    Họ tên
                </th>
                <th class="col-md-2">
                    ID/SĐT
                </th>
                <th class="col-md-2">
                    Nghề nghiệp
                </th>
                <th>
                    Ghi chú
                </th>
            </tr>
            @foreach (var item in kbfb)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.id_no</td>
                    <td>@item.nghenghiep</td>
                    <td>@item.note</td>
                </tr>
            }
        </table>
    </div>
</div>
<div style="border: 1px none; border-radius: 10px; background-color: lavenderblush; padding: 10px; margin: 10px;">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Báo cáo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Raw(Model.ghichu)
            </div>
        </div>
    </div>
</div>