@model PagedList.IPagedList<NiceHandles.Models.DSBanLamViec>
@using PagedList.Mvc;
@using NiceHandles.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Phòng thẩm định";
    var db = new NiceHandles.Models.NHModel();
}
<br />

<div class="row">
    <div class="col-md-8">
        <h3><i class="fa fa-folders" style="color: aquamarine;"></i> Phòng thẩm định</h3>
        <p style="color: #222;">
            <a href="/di1cua/Index"> <i class="fa fa-light fa-clipboard-list-check" style="font-size: x-large;"></i> Danh sách đi 1 cửa của tôi</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/giaonhangiaytoes/Index"> <i class="fa fa-regular fa-hourglass-half" style="font-size: x-large;"></i> Danh sách chờ giấy tờ của tôi</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" onclick="DSCongViec();"> <i class="fa fa-light fa-print" style="font-size: x-large;"></i> Danh sách hồ sơ</a>
        </p>
        @using (Html.BeginForm("ThamDinhX", "Contracts", FormMethod.Get))
        {
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.TextBox("Search_Data", ViewBag.FilterValue as string, new { @class = "form-control", placeholder = "Tìm kiếm" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.DropDownList("par", ViewBag.PARTNER as SelectList, "--- Đối tác ---", new { @class = "form-control", title = "Đối tác" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.DropDownList("add", ViewBag.ADDRESS as SelectList, "--- Địa chỉ ---", new { @class = "form-control", title = "Địa chỉ" })
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.DropDownList("ser", ViewBag.SERVICES as SelectList, "--- Dịch vụ ---", new { @class = "form-control", title = "Dịch vụ" })
                    </div>
                </div>
                @if ((bool)ViewBag.MANAGER == true)
                {
                    <div class="col-sm-2">
                        <div class="form-group">
                            @Html.DropDownList("uq", ViewBag.UYQUYENS as SelectList, "--- Phụ trách ---", new { @class = "form-control", title = "Người thực hiện" })
                        </div>
                    </div>
                }

                <div class="col-sm-1">
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger" style="height: 32px; width: 100px;">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        @Html.Partial("_Sigma")
    </div>
</div>


<table class="table table-hover" id="blv">
    <thead>
        <tr>
            <th>
                Tên khách hàng
            </th>
            <th>
                Nhập tt
            </th>
            <th>
                Đối tác
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Dịch vụ
            </th>
            @if ((bool)ViewBag.MANAGER == true)
            {
                <th>
                    Phụ trách
                </th>
            }
            <th>
                Bước thực hiện
            </th>
            <th>
                Ngày ký
            </th>
            <th>
                Hạn
            </th>
            <th>
                Ngày TH
            </th>
            <th>
                Quá hạn
            </th>
            <th>
                Gia phả
            </th>
            <th>
                Ưu tiên
            </th>
            <th>
                Tiến độ
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var wf = db.wf_contract.Where(x => x.contract_id == item.id).OrderByDescending(x => x.time).First();
            var NgayTH = (int)(DateTime.Now - item.time).TotalDays;
            var QH = string.Empty;
            if (item.exp.HasValue && item.exp.Value < DateTime.Now)
            {
                QH = ((int)(DateTime.Now - item.exp.Value).TotalDays).ToString();
            }
            //Có thứ tự Jquery
            <tr class="contextmenu" id="@item.id" title="@("<p>Số điện thoại:" + item.sodienthoai+ "</p>" + item.message)" data-html="true">
                <td>
                    <a href='/NhiemVus/?id=@(item.id)&step=@(item.step)'>@item.customer_name </a>
                </td>
                <td>
                    <a class="h" href='/Infomations/Edit?contract_id=@item.id'><i style="font-size: large" class="fa fa-regular fa-keyboard"></i></a>
                </td>
                <td>
                    @item.partner_name
                </td>
                <td>
                    @item.address_name
                </td>
                <td>
                    @item.service_name
                </td>

                @if ((bool)ViewBag.MANAGER == true)
                {
                    <td>
                        @item.account_name
                    </td>
                }
                <td style="color: @item.step_color">
                    @item.step_name
                </td>
                <td>
                    @item.time.ToString("dd/MM/yy")
                </td>
                <td>
                    @Html.Raw(item.exp.HasValue ? item.exp.Value.ToString("dd/MM/yy") : "")
                </td>
                <td>
                    @NgayTH
                </td>
                <td>
                    @QH
                </td>
                <td>
                    @if (item.hasfile.HasValue)
                    {
                        var file = db.Files.Find(item.hasfile.Value);
                        <a href="@file.url" target="_blank"><i class="far fa-eye">Xem</i></a> @*@Html.ActionLink("Xem", "GiaPha", "Home", new { c = item.id }, new { @class = "far fa-eye" })*@
                    }
                    else
                    {
                        <i>---</i>
                    }
                </td>
                <td>
                    @XContract.sPriority[item.Priority]
                </td>
                <td>
                    @wf.note
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PageCount > 1)
{
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-1">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="col-sm-10">
            @Html.PagedListPager(Model, Page_No => Url.Action("ThamDinhX", new { Page_No, Filter_Value = ViewBag.FilterValue, add = ViewBag.ADD, uq = ViewBag.UQ, ser = ViewBag.SER, par = ViewBag.PAR }))
        </div>
    </div>
}
<div class="modal" id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 16px; color: deeppink; text-align: center;">CẬP NHẬT GHI CHÚ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextArea("txtMessage", "", new { @class = "form-control summernote", @style = "resize: vertical;", @rows = 30 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="SaveNote();" data-dismiss="modal" class="btn btn-primary">Lưu lại</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<div type="context" id="menu" style="display: none">
    <p style="text-align:center; color: khaki; margin-top: 10px;">HÀNH ĐỘNG</p>
    <ul style="list-style: none; padding: 0; margin: 0;">
        <li style="list-style: none; padding: 5px 15px;"><a style="color: white;" href="javascript:EditContractNote();">Ghi chú</a></li>
    </ul>
    <p style="text-align:center; color: khaki; margin-top: 10px;">ĐI TỚI BƯỚC THỰC HIỆN</p>
    <ul style="list-style: none; padding: 0; margin: 0;">
        @foreach (var item in db.Steps)
        {
            <li style="list-style: none; padding: 5px 15px;"><a style="color: white;" href="javascript:GoToStep(@item.id);">@item.name</a></li>
        }
    </ul>
</div>

<iframe id="my_iframe" style="display:none;"></iframe>
@section Style {
    <style>
        .tooltip-inner {
            min-width: 800px; /* the minimum width */
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var current;
        $(document).ready(function () {
            $(".contextmenu").each(function () {
                var id = $(this).attr("id");
                var menu = document.getElementById('menu');
                this.addEventListener("contextmenu", function (e) {
                    e.preventDefault();
                    menu.style.display = 'block';
                    menu.style.left = e.x + 'px';
                    menu.style.top = e.pageY + 'px';
                    current = id;
                });
                document.addEventListener("click", function (e) {
                    menu.style.display = 'none';
                });
            });
            $(".contextmenu").tooltip();
        });
        function GoToStep(step) {
            $.ajax({
                url: '/Contracts/GotoStep',
                type: "POST",
                dataType: "JSON",
                data: { id: current, sp: step },
                success: function (obj) {
                    var tr = $("#" + current);
                    $(tr).find('td:eq(5)').text(obj.name).css("color", obj.color);
                }
            });
        }
        function EditContractNote() {
            $.ajax({
                url: '/Contracts/ContractGetMessage',
                type: "POST",
                dataType: "JSON",
                data: { id: current },
                success: function (mess) {
                    $('#txtMessage').summernote('code', mess);
                },
                error: function () {
                    $('#txtMessage').summernote('code', "");
                }
            });
            $("#myModal").modal("show");
        }
        function SaveNote() {
            var obj = new Object();
            obj.contract_id = current;
            var message = $('#txtMessage').summernote('code');
            $.ajax({
                url: '/NhiemVus/SaveNote',
                type: "POST",
                dataType: "JSON",
                data: { obj: obj, message: message },
                success: function () {
                    $("#" + current).attr('title', message);
                    $("#" + current).tooltip('fixTitle');
                    toastr.options = {
                        "preventDuplicates": true,
                        "preventOpenDuplicates": true
                    };
                    toastr.success("Đã lưu", "THÀNH CÔNG", { timeOut: 5000 });
                }
            });
        }
        function DSCongViec() {
            $.ajax({
                url: '/Contracts/DSCongViec',
                type: "POST",
                dataType: "JSON",
                data: {},
                success: function (url) {
                    document.getElementById('my_iframe').src = url;
                },
                error: function () {
                    toastr.success("Phát sinh lỗi", "Không lấy được danh sách", { timeOut: 5000 });
                }
            });
        }
        function DailyReport() {
            $.ajax({
                url: '/Jobs/DailyReport',
                type: "POST",
                dataType: "JSON",
                data: {},
                success: function (data) {
                    document.getElementById('my_iframe').src = data;
                }
            });
        }
    </script>
}