@model NiceHandles.Models.GroupMember

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSetting.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GroupMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.account_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
